body, *{
	margin: 0 auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	line-height: 1.5;
}
main{
	margin: auto;
	width: 63%;
	float: right;
}
nav{
	position: fixed;
	float: left;
	top: 40%;
	transform: translateY(-40%);
	margin: 1rem;
	width: 33%;
}
#navbar header, div h2{
	font-family: 'Varela Round', sans-serif;
}
#navbar a{
	display: block;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	border-top: 1px solid #e5674f;
	border-bottom: 1px solid #e5674f;
}
#navbar a:active, #navbar a:hover{
	background-color: #e5674f;
}
.main-section{
	border-left: 4px solid #e5674f;
	padding: 5px;
	margin: 2.5rem auto;
}
.result{
  display: none;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #e5674f;
  padding: 1rem;
  margin: 1rem auto;
  animation: result .6s ease forwards;
  transform: scaley(0);
}
@keyframes result{
  to{
    transform: scaley(1);
  }
}
form *{
  margin: .5rem;
}
pre{
	display: inline-block;
	width: 90%;
	margin: auto;
	overflow: auto;
}
button{
  margin: 1rem;
  color: white;
  border-radius: 5px;
  padding: .5rem 1rem;
  background: #e5674f;
  border-color: #e5674f;
  outline: none;
  cursor: pointer;
}
button:active{
  transform: scale(0.9);
}  
.main-section header{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}
header{
	font-size: 1.5rem;
	font-weight:800;
}
footer{
	font-family:'Varela Round', sans-serif;
	background-color: #e5674f;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	width: 100vw;
}
footer .social-links a{
	padding: 10px;
	color: white;
}
@media screen and (max-width: 768px){
	nav, main{
		width: 98%;
		position: relative;
		margin: 1rem auto;
		float: none;
		/* top: 0; */
		transform: translateY(0);
	}
	.body-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	footer{
		display: block;
		text-align: center;
	}
}
	